.van-dropdown-item__content{
    width: 70% !important;
    position: absolute;
    left: 15% !important;
}
.van-tabs__wrap{
    width: 70%;
    margin:0 auto !important;
    margin-bottom: 10px ;
}
.van-tab__pane
{
    padding: 10px;
}
.van-ellipsis{
    font-size: 12px;
}
.van-sticky{
    margin-top: 10px;
}
.van-uploader__file-name {
    overflow: initial;
}
.btn_bottom {
    position: fixed !important;
    bottom: 0;
    margin: 0 auto;
}
.okkapproval{
    width: 80% !important;
    margin: 10px auto !important;
    display: -webkit-box !important;
}
.van-cell{
    align-items: center !important;
}